* {
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

body {
    background-color: #663399;
}

.main-container {
    margin-left: 8%;
    margin-right: 8%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 2%;
    margin-bottom: 4%;
    position: relative;
}

#grid-container1 {
    width: 45%;
    height: 75vh;
    display: grid;
    grid-row-gap: 15px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 20% 50% 10% 20%;
}

.grid-container2 {
    width: 45%;
    height: 70vh;
    display: grid;
    grid-row-gap: 30px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 20% 95%
}

#clock-pic {
    background-image: url("clock.jpeg");
    background-size: 100% 100%;
    display: inline;
    border-radius: 10px;
}

#left-second-container {
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 3;
    position: relative;
    border-radius: 10px;
    position: relative;
}

.left-second-container-inner {
    width: 100%;
    height: 33%;
    position: relative;
}

#set-time {
    text-align: center;
    padding-top: 0px;
    font-weight: bolder;
    color: white;
    border-radius: 5px;
    background-image: linear-gradient(113deg, #7B68EE, #9370DB, #BA55D3, #EE82EE);
}

#set-time:hover {
    background-image: linear-gradient(-113deg, #7B68EE, #9370DB, #BA55D3, #EE82EE);
}

#digital-clock {
    position: relative;
    border-radius: 10px;
    background-color: #ededed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

#right-bottom-container {
    position: relative;
}

#lunch {
    border: 5px;
    position: relative;
    top: 0;
    background-color: white;
    padding-left: 5%;
    padding-top: 5%;
    width: 100%;
    height: 20%;
    font-size: 25px;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #8E53F0;
}

.grid-items {
    font-size: 35px;
}

#divdend {
    position: absolute;
    width: 100%;
    height: 80%;
    background-color: white;
    background-image: url("ballon.png");
    background-size: 100% 100%;
    background-position: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#know {
    font-size: 30px;
    color: purple;
    padding: 30px;
    display: inline-block;
}

#know1 {
    font-size: 30px;
    color: purple;
    padding: 30px;
    display: inline-block;
}

#know2 {
    font-size: 30px;
    color: purple;
    padding: 30px;
    display: inline-block;
}

.left-second-container-option {
    width: 80%;
    height: 100%;
    display: inline-block;
    padding: 20px;
    position: absolute;
}

#wake {
    width: 120px;
    height: 40px;
    border-radius: 5px;
    padding-left: 20px;
    border-color: purple;
    border: solid 2px;
}

#wake1 {
    width: 120px;
    height: 40px;
    border-radius: 5px;
    padding-left: 20px;
    border-color: purple;
    border: solid 2px;
}

#wake2 {
    width: 120px;
    height: 40px;
    border-radius: 5px;
    padding-left: 20px;
    border-color: purple;
    border: solid 2px;
}

#ltime {
    width: 70%;
    height: 100%;
    position: absolute;
    top: 10px;
    margin: auto;
    opacity: 0.70;
    z-index: -1;
    border-radius: 10px;
    background-color: white;
}

#l1time {
    width: 60%;
    height: 100%;
    position: absolute;
    top: 20px;
    margin: auto;
    opacity: 0.20;
    z-index: -1;
    border-radius: 10px;
    background-color: white;
}

#clock {
    width: 15%;
    height: 80%;
    float: left;
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: purple;
}

#clock1 {
    width: 15%;
    height: 80%;
    float: left;
    color: violet;
    background-color: #ffe4e1;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    padding-top: 5px;
    text-align: center;
    font-weight: bolder;
    margin: 15px;
}

#clock2 {
    width: 15%;
    height: 80%;
    float: left;
    color: violet;
    background-color: #ffe4e1;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    padding-top: 5px;
    text-align: center;
    font-weight: bolder;
    margin: 15px;
}

#clock3 {
    margin: 15px;
    width: 15%;
    height: 80%;
    float: left;
    color: violet;
    background-color: #ffe4e1;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    padding-top: 5px;
    text-align: center;
    font-weight: bolder;
}

#clock4 {
    margin: 15px;
    width: 15%;
    height: 80%;
    float: left;
    color: purple;
    background-color: violet;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    padding-top: 5px;
    text-align: center;
    font-weight: bolder;
}

#circle {
    border-radius: 50%;
    border: solid 2px;
}

#circle1 {
    border-radius: 50%;
    border: solid 2px;
}

#timeline {
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    background-color: violet;
    color: white;
}

@media(max-width:800px) {
    .main-container {
        justify-content: flex-start;
    }
    #grid-container1 {
        width: 90%;
        right: 0;
    }
    .grid-container2 {
        margin-top: 50px;
        width: 90%;
    }
    .grid-item {
        font-size: 5px;
    }
    #good-afternoon {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}